#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary.
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/jqufStbvLd99bF539) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [1]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : 392.742,
                "Q2" : [['Mercedes-Benz', 333],['BMW', 284],['Chevrolet', 253],['Ford', 185],['GMC', 163]],
                "Q3" : ['Regular Gas or Electricity','Regular Gas and Electricity','Regular','Premium or E85','Premium and Electricity','Premium Gas or Electricity','Premium','Midgrade','Gasoline or propane','Gasoline or natural gas','Gasoline or E85','Diesel','CNG'],
                "Q4" : [['Cab/Chassis 2WD', 1993, 32.961, 4.113376218494312],['Cab/Chassis 2WD', 1992, 32.961, 4.113376218494312],['Cab/Chassis 2WD', 1991, 32.961, 4.113376218494312],['Cab/Chassis 2WD', 1990, 32.961, 4.113376218494312],['Cab/Chassis 2WD', 1989, 32.961, 4.113376218494312],['Camry CNG', 1999, 0.0808695652173913, 3.933613148435805],['Camry CNG', 2001, 0.0845454545454545, 3.932713521763228],['Camry CNG', 2000, 0.0845454545454545, 3.932713521763228],['Cab/Chassis 2WD', 1993, 29.96454545454546, 3.3800324772464214]],
                "Q5" : [[1986.0, 26.0, nan],[1987.0, 26.0, 0.0],[1988.0, 25.0, -1.0],[1989.0, 25.0, 0.0],[1999.0, 24.0, -1.0],[2000.0, 24.0, 0.0],[2001.0, 24.0, 0.0],[2002.0, 24.0, 0.0],[2003.0, 24.0, 0.0],[2004.0, 24.0, 0.0],[2005.0, 24.0, 0.0],[2006.0, 24.0, 0.0],[2010.0, 25.0, 1.0],[2011.0, 26.0, 1.0],[2012.0, 26.0, 0.0],[2013.0, 26.0, 0.0],[2015.0, 30.0, 4.0],[2016.0, 30.0, 0.0],[2017.0, 29.0, -1.0]],
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [2]:
import pandas as pd
import numpy as np
url = "https://storage.googleapis.com/deb-evaluation-materials/vehicles.csv"
df = pd.read_csv(url)

In [3]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [5]:
########## Q1
#Your code here
volks = df[df['Make'] == 'Volkswagen']
volks_CO2_mean = volks['CO2 Emission Grams/Mile'].mean()
round(volks_CO2_mean,3)
#Example answer:
#answer_dict["Q1"] =  392.742

392.742

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer:
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [30]:
########## Q2
#Your code here
car_dict = {}
car_brands = df['Make'].unique()
for brand in car_brands:
    brand_models = df[df['Make'] == brand]['Model'].unique()
    if brand not in car_dict:
        car_dict[brand] = len(brand_models)
        
top5_sorted_car_dict = sorted(car_dict.items(),key=lambda x:x[1],reverse=True)[:5]
top5_sorted_car_dict
        
resultList = [list(item) for item in top5_sorted_car_dict]
resultList

    
#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

[['Mercedes-Benz', 333],
 ['BMW', 284],
 ['Chevrolet', 253],
 ['Ford', 185],
 ['GMC', 163]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer:
`['Regular',
 'Premium']`

In [34]:
########## Q3
#Your code here
fuel_types = df['Fuel Type'].unique()
sorted_fuel_types = sorted(fuel_types,reverse=True)
sorted_fuel_types

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

['Regular Gas or Electricity',
 'Regular Gas and Electricity',
 'Regular',
 'Premium or E85',
 'Premium and Electricity',
 'Premium Gas or Electricity',
 'Premium',
 'Midgrade',
 'Gasoline or propane',
 'Gasoline or natural gas',
 'Gasoline or E85',
 'Diesel',
 'CNG']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer:
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [67]:
########## Q4
#Your code here
import scipy.stats as stats

toyota = df[df['Make'] == 'Toyota']
#toyota
selected_cols = toyota[['Model','Year','Fuel Barrels/Year']]
selected_cols['Fuel zscores'] = np.abs(stats.zscore(toyota['Fuel Barrels/Year']))
result = selected_cols.sort_values(['Fuel zscores','Year'],ascending=False)[:9]
result_list = result.values.tolist()
result_list

<ipython-input-67-c4da612ba358>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_cols['Fuel zscores'] = np.abs(stats.zscore(toyota['Fuel Barrels/Year']))

[['Cab/Chassis 2WD', 1993, 32.961, 4.113376218494312],
 ['Cab/Chassis 2WD', 1992, 32.961, 4.113376218494312],
 ['Cab/Chassis 2WD', 1991, 32.961, 4.113376218494312],
 ['Cab/Chassis 2WD', 1990, 32.961, 4.113376218494312],
 ['Cab/Chassis 2WD', 1989, 32.961, 4.113376218494312],
 ['Camry CNG', 1999, 0.0808695652173913, 3.933613148435805],
 ['Camry CNG', 2001, 0.0845454545454545, 3.932713521763228],
 ['Camry CNG', 2000, 0.0845454545454545, 3.932713521763228],
 ['Cab/Chassis 2WD', 1993, 29.96454545454546, 3.3800324772464214]]

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [95]:
########## Q5
#Your code here
volks_cars = df[df['Make'] == 'Volkswagen']
golf_cars = volks_cars[volks_cars['Model'] == 'Golf'] 
golf_cars_manual = golf_cars[golf_cars['Transmission'] == 'Manual 5-spd']
golf_cars_manual_regular_fuel = golf_cars_manual[golf_cars_manual['Fuel Type'] == 'Regular']
golf_cars_manual_regular_fuel['Combined MPG_dif'] = golf_cars_manual_regular_fuel['Combined MPG'].diff()
result = golf_cars_manual_regular_fuel[['Year','Combined MPG','Combined MPG_dif']]
result.values.tolist()

<ipython-input-95-aca8ad7cfaec>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golf_cars_manual_regular_fuel['Combined MPG_dif'] = golf_cars_manual_regular_fuel['Combined MPG'].diff()

[[1986.0, 26.0, nan],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [135]:
########## Q6
#Your code here
toyota_CO2 = df[df['Make'] == 'Toyota'][['Make','CO2 Emission Grams/Mile']].sort_values(by='CO2 Emission Grams/Mile').head()
toyota_CO2
ford_CO2 = df[df['Make'] == 'Ford'][['Make','CO2 Emission Grams/Mile']].sort_values(by='CO2 Emission Grams/Mile').head()
volkswagen_CO2 = df[df['Make'] == 'Volkswagen'][['Make','CO2 Emission Grams/Mile']].sort_values(by='CO2 Emission Grams/Mile').head()
nissan_CO2 = df[df['Make'] == 'Nissan'][['Make','CO2 Emission Grams/Mile']].sort_values(by='CO2 Emission Grams/Mile').head()
honda_CO2 = df[df['Make'] == 'Honda'][['Make','CO2 Emission Grams/Mile']].sort_values(by='CO2 Emission Grams/Mile').head()
combined_CO2 = pd.concat([toyota_CO2,ford_CO2,volkswagen_CO2,nissan_CO2,honda_CO2],axis=0)
combined_CO2.values.tolist()

[['Toyota', 133.0],
 ['Toyota', 133.0],
 ['Toyota', 133.0],
 ['Toyota', 133.0],
 ['Toyota', 158.0],
 ['Ford', 112.0],
 ['Ford', 129.0],
 ['Ford', 129.0],
 ['Ford', 129.0],
 ['Ford', 129.0],
 ['Volkswagen', 200.0],
 ['Volkswagen', 200.0],
 ['Volkswagen', 200.0],
 ['Volkswagen', 200.0],
 ['Volkswagen', 261.025641025641],
 ['Nissan', 249.0],
 ['Nissan', 254.0],
 ['Nissan', 254.5],
 ['Nissan', 254.5],
 ['Nissan', 254.5],
 ['Honda', 130.0],
 ['Honda', 167.67924528301887],
 ['Honda', 167.67924528301887],
 ['Honda', 167.67924528301887],
 ['Honda', 167.67924528301887]]

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [157]:
########## Q7
#Your code here
grouped = df.groupby(["Year"])["Combined MPG"].median()
grouped

Year
1984    17
1985    19
1986    19
1987    19
1988    19
1989    19
1990    18
1991    18
1992    18
1993    18
1994    18
1995    18
1996    19
1997    19
1998    19
1999    19
2000    19
2001    19
2002    19
2003    19
2004    19
2005    19
2006    19
2007    19
2008    19
2009    20
2010    20
2011    21
2012    21
2013    22
2014    22
2015    22
2016    23
2017    23
Name: Combined MPG, dtype: int64

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [ ]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/jqufStbvLd99bF539).

In [ ]:
answer_dict

In [ ]:
import pickle

file_name = "FELIX_OLONDE_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)